<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="../Styles/styles.css">
    <title>Learn English</title>
</head>
<title>Add Shoping List Item</title>

<body>
    <div>
        <h1>Enter New Word and It's Meaning</h1>
        <label>New Word:</label>
        <input type="text" id="word" autofocus><br>
        <label>Meaning:</label>
        <input type="text" id="meaning" autofocus><br>
        <label for="" class="hide empty">Insert new word...</label>
        <label for="" class="hide exists">Word already exists...</label>
    </div>

    <button class="play" id="" type="submit">Save and Play</button><br>
    <button class="saveWord" id="" type="submit">Save and add another word</button><br>
    <button class="exit" id="" type="submit">Save and Quit</button><br>
    <button class="goBack">Go back -></button>


    <script src="../DOM/addWindow.js">

    </script>

</body>

</html>