<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="../Styles/styles.css">
    <title>Learn English</title>
</head>

<body>
    <div>

        <label class="abc">Press start to practice all the words that you've saved til now</label><br>
        <button class="start">Start</button><br>
        <label">OR</label><br>
            <label>Enter the amount of words that you would like to practice and then press Start</label><br>
            <input class="amount" type="number" min="1" max="" id="" autofocus><br>
            <label for="">And you can also</label><br>
            <button class="selectWords">Select specific words</button><br>
            <label for="">Or you can</label><br>
            <button class="unLearned">Train Unlearned words</button><br>
            <button class="str">START PAGE</button>
    </div>

</body>

<script>
    const electron = require('electron');
    const {
        ipcRenderer
    } = electron;

    //Goes to addWindow on button click
    document
        .querySelector('.start')
        .addEventListener('click', goToGameWindow);
    async function goToGameWindow(e) {
        await ipcRenderer.send('goToPage', 'Views/gameWindow.html', document.querySelector('.amount').value);
    }

    document
        .querySelector('.selectWords')
        .addEventListener('click', goToWordsSelection);

    function goToWordsSelection(e) {
        ipcRenderer.send('goToPage', 'Views/wordsSelection.html');
    }
    
    document
        .querySelector('.str')
        .addEventListener('click', str);

    function str(e) {
        ipcRenderer.send('goToPage', 'Views/mainWindow.html');
    }

    document
        .querySelector('.unLearned')
        .addEventListener('click', unLearned);

    function unLearned(e) {
        ipcRenderer.send('unLearned');
    }

    ipcRenderer.on('noUnlearned', (e) => {
        const newlabel = document.createElement('label');
        const t = document.createTextNode('NO UNLEARNED WORDS WERE FOUND');
        newlabel.appendChild(t);
        document.querySelector('.abc').insertBefore(newlabel,document.querySelector('.abc').childNodes[0]);
    })

    ipcRenderer.on('data', function (e, newAmount) {
        console.log(newAmount);
        if(newAmount == 0){
            alert('There is no words to practice, please add new words to start pracicing...');
        }else{
            alert('There is only ' + newAmount + 'words were saved til now. Press start to practice all of theme or enter samller number...');
        }
    })
</script>

</html>